.textField {
    font-size: 0.9rem;
    border-radius: 7px;
    padding: 8px 10px;
    height: 100%;
    border: none;
    box-sizing: border-box;
}

.input {
    color: white;
    background-color: transparent;
    caret-color: white;
}


.inputHoverable:hover {
    background-color: var(--violet-light);
}


.inputHoverable:focus {
    outline: none;
    background-color: var(--violet-light);
}

.inputHoverable:active {
    outline: none;
    background-color: var(--violet-light);
}

.input::placeholder {
    color: rgba(255, 255, 255, 0.5);
}

.wrapper {
    position: relative;
}

.sizer {
    position: absolute;
    visibility: hidden;
    overflow: hidden;
    white-space: pre; /* Ensures spaces are preserved */
}