.container {
    position: absolute;
    top: 0;
    z-index: 300;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr;
    grid-template-areas: "menuBar" "content" "slideBar";
    pointer-events: none;
}


.menuBar {
    background-color: blue;
    height: 60px;
    width: 100%;
    grid-area: menuBar;
    pointer-events: auto;
}


.toolBar {
    background-color: green;
    height: 100%;
    width:  60px;
    grid-area: content;
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translate(0, -50%);
    pointer-events: auto;
}


.slideBar {
    background-color: red;
    height: 70px;
    width: 100%;
    grid-area: slideBar;
    pointer-events: auto;
}


.menu {
    background-color: yellow;
    grid-area: content;
    width: 350px;
    height: 100%;
    position: absolute;
    right: 0;
}