.otherOptionsContainer {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.button {
    height: 1rem;
    width: 1rem;
    border: none;
    background-color: transparent;
    color: var(--secondary-border);
    border-radius: 20%;
    cursor: pointer;
}

.active {
    /*background-color:  var(--primary);*/
    color: var(--primary);
    /*outline: 0.5px solid var(--secondary-border);*/
}