.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.counter {
    display: flex;
    align-items: center;
    gap: 0.3rem;
    padding-top: 0.25rem;
}


.numberLeft {
    font-size: 1rem;
    color: var(--text);
}

.numberRight {
    font-size: 1rem;
    color: var(--intermediate);
}


.slash {
    font-size: 1rem;
    color: var(--intermediate);
}