.container {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

.counter {
    display: flex;
    align-items: center;
}


.numberLeft {
    font-size: 1rem;
    color: var(--text);
;
}

.numberRight {
    font-size: 1rem;
    color: var(--intermediate);
}


.slash {
    font-size: 1rem;
    color: var(--intermediate);
}

.arrowBtn {
    --icon-size: 1.5rem;
    width: var(--icon-size);
    height: var(--icon-size);
}