.container {
    background-color: var(--background);
    display: grid;
    grid-template-columns: 1fr 350px;
    grid-template-rows: 1fr;
    grid-template-areas: "carousel controls";
    height: 100%;
    width:  100%;
    /*overflow: hidden;*/
    border-top: 1px solid var(--secondary);
}

.carouselContainer {
    grid-area: carousel;
    height: 100%;
    width:  100%;
    position: relative;
    overflow: hidden;
}

.controls {
    height: 100%;
    width: 100%;
    grid-area: controls;
    background-color: var(--background);
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 1rem;
    border-left: 1px solid var(--secondary);
}