.container {
    background-color: var(--background);
    display:flex;
    height: 70px;
    /*overflow: hidden;*/
}

.carouselContainer {
    flex-grow: 1;
    height: 100%;
    overflow-x: scroll;
}

.controls {
    background-color: var(--background);
    display: flex;
    align-items: center;
    padding: 0 1rem;
    gap: 1rem;
}