* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.radix-themes {
    --default-font-family: var(--font-luciole) !important;
    --cursor-button: pointer !important;
    /* --cursor-link: pointer !important; */
    --cursor-checkbox: pointer !important;
}

/* Removes default weird focus outline on tldraw component */
.tl-container__focused {
    outline: none !important;
}

/* Fixes z-index issue with tldraw component */
.tl-canvas {
    z-index: 1 !important;
}

/*
.lucide {
    stroke-width: 1.8;
}

.lucide * {
    vector-effect: non-scaling-stroke;
}*/
.tl-theme__light {
    --color-selected: var(--accent-9) !important;
}

