.colorPick {
    /*background-color is set as inline css*/
    --colorOptionSize: 70%;
    height: var(--colorOptionSize);
    width:  var(--colorOptionSize);
    align-self: center;
    justify-self: center;
    /*margin: 0.1rem;*/
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    transition: transform 0.1s ease-in-out;
    border: 0.5px solid rgba(0,0,0, 0.1);
}

.colorSelected {
    outline: 2px solid var(--secondary-border);
    /*outline-offset: 0px;*/
    background-color: var(--secondary);
}

.colorPick:hover {
    transform: scale(1.1);
}