.colorPick {
    /*background-color is set as inline css*/
    --colorOptionSize: 50%;
    height: var(--colorOptionSize);
    width:  var(--colorOptionSize);
    align-self: center;
    justify-self: center;
    /*margin: 0.1rem;*/
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    transition: transform 0.1s ease-in-out;
    border: none;
}

.colorSelected {
    outline: 2px solid var(--primary);
    outline-offset: 3px;
    background-color: var(--secondary);
}

.colorPick:hover {
    transform: scale(1.1);
}