.textField {
    font-family: inherit;
    font-size: 1rem;
    border-radius: 7px;
    padding: 8px 10px;
    /*height: 100%;*/
    border: none;
    box-sizing: border-box;
    line-height: 1;
}

.input {
    color: white;
    background-color: transparent;
    caret-color: white;
}


.inputHoverable:hover {
    background-color: hsla(var(--secondary-h), var(--secondary-s), var(--secondary-l), 0.2);
}


.inputHoverable:focus {
    outline: none;
    background-color: hsla(var(--secondary-h), var(--secondary-s), var(--secondary-l), 0.2);
}

.inputHoverable:active {
    outline: none;
    background-color: hsla(var(--secondary-h), var(--secondary-s), var(--secondary-l), 0.2);
}

.input::placeholder {
    color: rgba(255, 255, 255, 0.5);
}

.wrapper {
    position: relative;
}

.sizer {
    position: absolute;
    visibility: hidden;
    overflow: hidden;
    white-space: pre; /* Ensures spaces are preserved */
}