.container {
    text-decoration: none;
    padding: 0.8rem 1rem;
    color: var(--primary);
    display: flex;
    align-items: center;
    gap: 0.6rem;
    font-size: 0.9rem;
    border-radius: 0.6rem;
}

.icon {
    width: 1rem;
    display: flex;
    justify-content: center;
}

.active {
    background-color: var(--secondary-hover);
}

.container:hover {
    color: var(--primary-hover);
}