.container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
    
    background-color: var(--secondary);
    /*background-image: url("/noise-texture.png");
    background-repeat: repeat;
    background-size: 200px;*/
}


.canvasContainer {
    position: relative;
    height: 100%;
    width: 100%;
    min-width: 0; /* Fixes safari overflow */
    display: flex;
    align-items: center;
    justify-content: center;
}

.canvas {
    background-color: var(--background);
    aspect-ratio: 16/9;
    min-width:  50px;
    min-height: 50px;
    border-radius: 0.5rem;
    border: 0.5px solid var(--secondary-border);
}

.touchLeftRight {
    width: 100%;
}

.touchUpDown {
    height: 100%;
}