.container {
    background-color: var(--background);
    display: grid;
    --toolBar-cell-size: 3.2rem;
    grid-template-columns: var(--toolBar-cell-size);
    grid-auto-rows: var(--toolBar-cell-size);

    width:fit-content;
    /*gap: 0.1rem;
    padding: 0.2rem;*/
    border-radius: 0.5rem;
    /*border: 0.5px solid var(--secondary-border);*/
}

