.container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    text-decoration: none;
}

.text {
    font-size: 0.9rem;
    line-height: 1;
    color: var(--secondary);
    line-height: 1;
}