.container {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
    background-color: transparent;
    border:  none;
    outline: none;
    padding: 0px;
    margin:  0px;
    box-sizing: border-box;
    height: 100%;
    line-height: inherit;
    font-family: inherit;
    font-size: inherit;
}

.container:hover {
    cursor: pointer;
}

.label {
    font-size: 0.7rem;
    font-weight: 300;
    color: var(--violet-lighter);
}