.container {
    background-color:  var(--background);
    padding: 0.3rem;
    border-radius: 0.6rem;
    box-shadow: var(--big-shadow);
    border: 0.5px solid var(--secondary-border);
    width: fit-content;
    display: grid;
    --cellSize: 1.3rem;
    grid-template-columns: repeat(4, var(--cellSize));
    grid-auto-rows: var(--cellSize);
    gap: 0.1rem;
}