.container {
    background-color:  var(--background);
    padding: 0.3rem;
    border-radius: 0.6rem;
    box-shadow: var(--big-shadow);
    border: 0.5px solid var(--secondary-border);
    width: fit-content;
    display: grid;
    --toolBarCellSize: 2rem;
    grid-template-columns: repeat(var(--tool-options-rows), var(--toolBarCellSize));
    /*grid-template-columns: repeat(attr(data-rows), var(--toolBarCellSize));*/
    grid-auto-rows: var(--toolBarCellSize);
    gap: 0.1rem;
}