.container {
    background-color: white;
    padding: 0.3rem;
    border-radius: 0.6rem;
    box-shadow: 0 0 0.5rem 0.1rem rgba(0, 0, 0, 0.062);
    /*border: 0.5px solid var(--secondary-border);*/
    width: fit-content;
    display: grid;
    --toolBarCellSize: 2rem;
    grid-template-columns: repeat(var(--tool-options-rows), var(--toolBarCellSize));
    /*grid-template-columns: repeat(attr(data-rows), var(--toolBarCellSize));*/
    grid-auto-rows: var(--toolBarCellSize);
    gap: 0.1rem;
}