.container {
    background-color: var(--background);
    border-radius: 0.5rem;
    height: 40px;
    aspect-ratio: 16/9;
    width: auto;
    min-width:  1rem;
    min-height: 1rem;
    overflow: hidden;
    box-sizing: border-box;
}

.selected {
    border: 3px solid var(--primary);
}