.optionBtn {
    color: var(--text);
    background: none;
    border: none;
    padding: none;
    margin: none;
    padding: 0.2rem;
    border-radius: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.optionBtn:hover {
    /*transform: scale(1.1);*/
    cursor: pointer;
}


.active {
    /*background-color:  var(--secondary);*/
    color: var(--primary);
    background-color: hsla(var(--primary-h), var(--primary-s), var(--primary-l), 0.2);
}