.optionBtn {
    background: none;
    border: none;
    padding: none;
    margin: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.3rem;
    border-radius: 20%;
}

.optionBtn:hover {
    /*transform: scale(1.1);*/
    cursor: pointer;
}

.optionIcon {
    /*color: var(--primary);*/
    color: black;
    width: 100%;
    height: 100%;
}

.active {
    background-color:  var(--secondary);
}