.optionBtn {
    color: var(--text);
    background: none;
    border: none;
    padding: none;
    margin: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.2rem;
    border-radius: 20%;
}

.optionBtn:hover {
    /*transform: scale(1.1);*/
    cursor: pointer;
}

.active {
    background-color:  var(--secondary);
}