.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}

.container:hover {
    cursor: pointer;
}

.label {
    font-size: 0.6rem;
    font-weight: 300;
}

.invisible {
    visibility: hidden;
}