:root {
  /* These values are ratios used to generate darker shades for borders */
  --border-s-mult: 1.2;
  --border-l-mult: 0.9;

  /* Brand */
  --brand: var(--primary);
  --brand-border: var(--primary-border);
  --text-on-brand: var(--text-on-primary);

  /* Primary */
  --primary-h: 253;
  --primary-s: 58%;
  --primary-l: 55%;
  --primary: hsl(var(--primary-h), var(--primary-s), var(--primary-l));
  --primary-border: hsl(var(--primary-h), calc(var(--primary-s)*var(--border-s-mult)), calc(var(--primary-l)*var(--border-l-mult)));
  --text-on-primary: white;

  /* Seconday */
  --secondary-h: 257;
  --secondary-s: 37%;
  --secondary-l: 96%;
  --secondary: hsl(var(--secondary-h), var(--secondary-s), var(--secondary-l));
  --secondary-border: hsl(var(--secondary-h), calc(var(--secondary-s)*var(--border-s-mult)), calc(var(--secondary-l)*var(--border-l-mult)));
  --text-on-secondary: var(--intermediate);

  /* Intermediate */
  --intermediate-h: 252;
  --intermediate-s: 23%;
  --intermediate-l: 65%;
  --intermediate: hsl(var(--intermediate-h), var(--intermediate-s), var(--intermediate-l));
  --intermediate-border: hsl(var(--primary-h), calc(var(--primary-s)*var(--border-s-mult)), calc(var(--primary-l)*var(--border-l-mult)));

  /* Text */
  --text-h: 253;
  --text-s: 68%;
  --text-l: 18%;
  --text: hsl(var(--text-h), var(--text-s), var(--text-l));
  --text-border: hsl(var(--primary-h), calc(var(--primary-s)*var(--border-s-mult)), calc(var(--primary-l)*var(--border-l-mult)));

    /* Blue */
  --blue-h: 241;
  --blue-s: 78%;
  --blue-l: 66%;
  --blue: hsl(var(--blue-h), var(--blue-s), var(--blue-l));
  --blue-border: hsl(var(--primary-h), calc(var(--primary-s)*var(--border-s-mult)), calc(var(--primary-l)*var(--border-l-mult)));

  /* Violet */
  --violet-h: 271;
  --violet-s: 66%;
  --violet-l: 38%;
  --violet: hsl(var(--violet-h), var(--violet-s), var(--violet-l));
  --violet-border: hsl(var(--primary-h), calc(var(--primary-s)*var(--border-s-mult)), calc(var(--primary-l)*var(--border-l-mult)));

  /* Purple */
  --purple-h: 300;
  --purple-s: 81%;
  --purple-l: 43%;
  --purple: hsl(var(--purple-h), var(--purple-s), var(--purple-l));
  --purple-border: hsl(var(--primary-h), calc(var(--primary-s)*var(--border-s-mult)), calc(var(--primary-l)*var(--border-l-mult)));

  /* Pink */
  --pink-h: 325;
  --pink-s: 93%;
  --pink-l: 65%;
  --pink: hsl(var(--pink-h), var(--pink-s), var(--pink-l));
  --pink-border: hsl(var(--primary-h), calc(var(--primary-s)*var(--border-s-mult)), calc(var(--primary-l)*var(--border-l-mult)));

  /* Red */
  --red-h: 6;
  --red-s: 84%;
  --red-l: 59%;
  --red: hsl(var(--red-h), var(--red-s), var(--red-l));
  --red-border: hsl(var(--red-h), calc(var(--red-s)*var(--border-s-mult)), calc(var(--red-l)*var(--border-l-mult)));
  --text-on-red: white;

  /* Orange */
  --orange-h: 26;
  --orange-s: 84%;
  --orange-l: 59%;
  --orange: hsl(var(--orange-h), var(--orange-s), var(--orange-l));
  --orange-border: hsl(var(--orange-h), calc(var(--orange-s)*var(--border-s-mult)), calc(var(--orange-l)*var(--border-l-mult)));

  /* Yellow */
  --yellow-h: 49;
  --yellow-s: 89%;
  --yellow-l: 60%;
  --yellow: hsl(var(--yellow-h), var(--yellow-s), var(--yellow-l));
  --yellow-border: hsl(var(--yellow-h), calc(var(--yellow-s)*var(--border-s-mult)), calc(var(--yellow-l)*var(--border-l-mult)));

  /* Green */
  --green-h: 170;
  --green-s: 100%;
  --green-l: 35%;
  --green: hsl(var(--green-h), var(--green-s), var(--green-l));
  --green-border: hsl(var(--green-h), calc(var(--green-s)*var(--border-s-mult)), calc(var(--green-l)*var(--border-l-mult)));
  --text-on-green: white;

  /* Background */
  --background-h: 0;
  --background-s: 0%;
  --background-l: 100%;
  --background: hsl(var(--background-h), var(--background-s), var(--background-l));
  --background-border: hsl(var(--background-h), calc(var(--background-s)*var(--border-s-mult)), calc(var(--background-l)*var(--border-l-mult)));
}


[data-theme="pratico-dark"] {
  --primary:            #6866ED;
  --primary-hover:      #8785ff;
  --primary-border:     #1a193f;
  --primary-text:       #c7c6ea;
  
  --secondary:          #aaa8e0;
  --secondary-hover:    #1d1b46;
  --secondary-border:   #1b1a42;
  --secondary-text:     #7d7caf;

  --menu-bar:          #11102e;

  --background:         #11102e;
  --background-2:       #030213;
  
  --pink:             #F953B2;
  --yellow:           #F4D13C;
  --orange:           #EF8E3F;
}