* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}



main {
    background-color: var(--secondary);
}



.radix-themes {
    --default-font-family: var(--font-luciole) !important;
    --cursor-button: pointer !important;
    --cursor-checkbox: pointer !important;
}