* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.radix-themes {
    --default-font-family: var(--font-luciole) !important;
    --cursor-button: pointer !important;
    --cursor-checkbox: pointer !important;
}

/* Removes default weird focus outline on tldraw component */
.tl-container__focused {
    outline: none !important;
}

/* Fixes z-index issue with tldraw component */
.tl-canvas {
    z-index: 1 !important;
}

/* Changes default styling of lucide icons */
.lucide {
    width:  18px;
    height: 18px;
    stroke-width: 1.8;
}

.lucide * {
    vector-effect: non-scaling-stroke;
}