.button {
    border: none;
    background-color: transparent;
    /*color: var(--primary);*/
    color: black;
    border-radius: 20%;
    cursor: pointer;
    padding: 0.1rem;
    align-self: center;
    justify-self: center;
    height: 100%;
    width: 100%;
}

.center {
    transform: translateX(50%);
}

.active {
    color:  var(--primary);
    background-color: hsla(var(--primary-h), var(--primary-s), var(--primary-l), 0.2);
}