.button {
    border: none;
    background-color: transparent;
    /*color: var(--primary);*/
    color: var(--text);
    border-radius: 0.4rem;
    cursor: pointer;
    padding: 0.1rem;
    align-self: center;
    justify-self: center;
    height: 100%;
    width: 100%;
    display: flex;
}

.double {
    grid-column: span 2;
}

.active {
    color:  var(--primary);
    background-color: hsla(var(--primary-h), var(--primary-s), var(--primary-l), 0.2);
}