.button {
    border: none;
    background-color: transparent;
    /*color: var(--primary);*/
    color: black;
    border-radius: 20%;
    cursor: pointer;
    padding: 0.2rem;
    align-self: center;
    justify-self: center;
    height: 100%;
    width: 100%;
}

.active {
    background-color:  var(--secondary);
}