.container {
    --mbl-padding: 3rem;
    background-color: var(--brand);
    /*border-bottom: 1px solid var(--brand-border);*/
    height: 56px;
    display: flex;
    align-items: center;
    padding: 0.4rem  calc(var(--mbl-padding)/2);
    overflow: hidden;
}

.spaceBetween {
    justify-content: space-between;
}

.child {
    padding: 0 calc(var(--mbl-padding)/2);
}

.spacer {
    flex-grow: 1;
}
