.container {
    background-color: var(--background);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 60px;
    gap: 0.1rem;
    padding: 0.2rem;
    border-radius: 0.5rem;
    box-shadow: var(--big-shadow);
    overflow: hidden;
    /*flex-basis: calc(1/6*100% - 0.1rem);*/
}


@media (max-height: 500px) {
    .container {
        height: 100%;
        box-shadow:none;
        justify-content: space-between;
    }
}


@media (max-width: 500px) {
    .container {
        box-shadow: none;
        flex-direction: row;
        flex-basis: calc(1/6*100% - 0.1rem);
        height: 100%;
        overflow: hidden;
        justify-content: space-between;
    }
}