.container {
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    width: 50px;
    padding: 0.2rem;
    overflow: hidden;
    box-shadow: var(--shadow-2);
    border-radius: var(--radius-3);
    /*flex-basis: calc(1/6*100% - 0.1rem);*/
}


