.ToggleGroup button {
    border: none;
}


.ToggleGroup {
  height: 1.8rem;
  display: inline-flex;
  border-radius: 0.4rem;
  overflow: hidden;
  border: 0.5px solid var(--secondary-border);
}

.ToggleGroupItem {
  background-color: var(--background);
  color: var(--primary);
  display: flex;
  line-height: 1;
  align-items: center;
  justify-content: center;
  padding: 0 0.6rem;
}

/*
.ToggleGroupItem:first-child {
  margin-left: 0;
}
.ToggleGroupItem:last-child {
}
*/

.ToggleGroupItem:hover {
    cursor: pointer;
}
.ToggleGroupItem[data-state='on'] {
  background-color: var(--secondary);
  color: var(--intermediate);
}
.ToggleGroupItem:focus {
  position: relative;
}