.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ghostLabel {
    visibility: hidden;
}

.label {
    text-wrap: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}