:root {
    --mb-padding: 1.5rem;
}

.menuBarContainer {
    background-color: var(--violet);
    border-bottom: 1px solid var(--violet-dark);
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0 calc(var(--mb-padding)/2);
    justify-content: space-between;
    overflow: hidden;
}

.area {
    display: flex;
    align-items: center;
    gap: var(--mb-padding);
    padding: 0 calc(var(--mb-padding)/2);
}