.menuBarContainer {
    color: white;
    background-color: var(--violet);
    border-bottom: 1px solid var(--violet-dark);
    height: 50px;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    gap: 20px;

}

.logo {
    height: 100%;
    width: auto;
}

.spacer {
    flex-grow: 1;
}