.container {
    border: none;
    text-decoration: none;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-family: inherit;
}

.text {
    padding-top: 0.2rem;
}

.s {
    height: 1.8rem;
    font-size: 0.8em;
    padding: 0 0.6rem;
    gap: 0.5rem;
    border-radius: 0.4rem;
}

.m {
    height: 2.4rem;
    font-size: 1rem;
    padding: 0 0.7rem;
    gap: 0.7rem;
    border-radius: 0.6rem;
}

.l {
    height: 3rem;
    font-size: 1.2rem;
    padding: 0 0.8rem;
    gap: 0.9rem;
    border-radius: 0.8rem;
}

.primary {
    --btn-solid-text-color: var(--text-on-primary);
    --btn-soft-text-color: var(--primary);
    --btn-solid-background-color: var(--primary);
    --btn-soft-background-color: hsl(var(--primary-h), var(--primary-s), var(--primary-l), 0.2);
    --btn-border-color: var(--primary);
}

.secondary {
    --btn-solid-text-color: var(--primary);
    --btn-soft-text-color: var(--secondary);
    --btn-solid-background-color: var(--secondary);
    --btn-soft-background-color: hsl(var(--secondary-h), var(--secondary-s), var(--secondary-l), 0.3);
    --btn-border-color: var(--secondary);
}

.background {
    --btn-solid-text-color: var(--primary);
    --btn-soft-text-color: var(--background);
    --btn-solid-background-color: var(--background);
    --btn-soft-background-color: hsl(var(--background-h), var(--background-s), var(--background-l), 0.2);
    --btn-border-color: var(--background);
}


.red {
    --btn-solid-text-color: var(--text-on-red);
    --btn-soft-text-color: var(--red);
    --btn-solid-background-color: var(--red);
    --btn-soft-background-color: hsl(var(--red-h), var(--red-s), var(--red-l), 0.2);
    --btn-border-color: var(--red);
}

.green {
    --btn-solid-text-color: var(--text-on-green);
    --btn-soft-text-color: var(--green);
    --btn-solid-background-color: var(--green);
    --btn-soft-background-color: hsl(var(--green-h), var(--green-s), var(--green-l), 0.2);
    --btn-border-color: var(--green);
}

.solid {
    color: var(--btn-solid-text-color);
    background-color: var(--btn-solid-background-color);
}

.soft {
    color: var(--btn-soft-text-color);
    background-color: var(--btn-soft-background-color);
}

.outline {
    color: var(--btn-soft-text-color);
    background-color: transparent;
    border-color: var(--btn-border-color);
    border: 1px solid;
}

.ghost {
    color: var(--btn-soft-text-color);
    background-color: transparent;
}

.icon {
    height: 40%;
    aspect-ratio: 1/1;
    display: flex;
}