.optionBtn {
    background: none;
    border: none;
    padding: none;
    margin: none;
    padding: 0.2rem;
    border-radius: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.optionBtn:hover {
    /*transform: scale(1.1);*/
    cursor: pointer;
}

.optionIcon {
    /*color: var(--primary);*/
    color: black;
    width: 100%;
    height: 100%;
}

.active {
    /*background-color:  var(--secondary);*/
    color: var(--primary);
}