.controls {
    height: 100%;
    width: 100%;
    grid-area: controls;
    background-color: var(--background);
    display: flex;
    flex-wrap: wrap-reverse;
    align-items: center;
    justify-content: space-around;
    padding: 0 1rem;
    border-left: 1px solid var(--secondary);
    /*
    border-radius: 0.5rem;
    box-shadow: var(--big-shadow);
    */
}

.counter {
    display: flex;
    align-items: center;
    gap: 0.3rem;
    padding-top: 0.25rem;
}

.numberLeft {
    font-size: 1rem;
    color: var(--text);
    font-variant-numeric: tabular-nums;
}

.numberRight {
    font-size: 1rem;
    color: var(--intermediate);
}


.slash {
    font-size: 1rem;
    color: var(--intermediate);
}