.container {
    height: 100%;
    background-color: var(--secondary);
    /*
    background-image: url("/noise-texture.png");
    background-repeat: repeat;
    background-size: 200px;*/
    padding: 3rem;
    overflow-y: scroll;
}

.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

.title {
    color: var(--text);
    font-size: 1.5rem;
    font-weight: 700;
}