.container {
    background-color: white;
    border: 0.5px solid var(--violet-lighter);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 0.5rem;

    aspect-ratio: 16/9;
    height: 100%;
    min-height: 1rem;
}

.selected {
    border: 3px solid var(--violet);
}